.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: #fff;
}

.container {
  margin: 2rem;
}

.header {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #111;
}

.link {
  font-size: 2rem;
  font-weight: 600;
  color: #235bd2;
  text-decoration: none;
}

@media (max-width: 640px) {
  .header {
    font-size: 2rem;
  }

  .link {
    font-size: 1.5rem;
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    background-color: #111;
  }

  .header {
    color: #eee;
  }
}
